[project]
name = "synapse"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.121.0",
    "pybreaker>=1.4.1",
    "pydantic>=2.12.4",
    "uvicorn>=0.38.0",
]
